body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	overflow: auto;
	box-sizing: border-box;
}

svg {
	display: block;
	margin: 20px 0;
	width: 1000px;
}

#title {
	font-size: 50px;
	font-weight: bold;
	text-anchor: middle;
}

#description {
	font-size: 25px;
	padding-bottom: 40px;
}

#tooltip{
	position: absolute;
	visibility: hidden;
	background: lightgrey;
	border: 1px;
	border-width: 1px;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
}

#legend {
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}
