body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

svg {
	display: block;
}

#title {
	font-size: 50px;
	font-weight: bold;
	text-anchor: middle;
}

rect {
	fill: blue;
}

.bar:hover {
	fill: white;
}

#tooltip {
	position: absolute;
	visibility: hidden;
	background: lightgrey;
	border: 1px;
	border-width: 1px;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
}
