body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: none;
}

svg {
	padding: 20px;
	border-radius: 5px;
}

#title {
	font-size: 50px;
	font-weight: bold;
	text-anchor: middle;
}

#description {
	font-size: 25px;
	text-anchor: middle;
	padding-bottom: 30px;
}

#tooltip{
	position: absolute;
	visibility: hidden;
	background: lightgrey;
	border: 1px;
	border-width: 1px;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
}